{% extends "teacher/base.html" %}

{% block content %}
<h2>Экзамены</h2>
<button onclick="location.href='/teacher/exams/create'">Создать новый экзамен</button>
<div id="exam-list">Загрузка...</div>

<script>
    const token = localStorage.getItem("access_token");

    function loadGroups() {
        fetch("/api/teacher/exams", {
            credentials: "include"
        })
        .then(res => res.json())
        .then(data => {
            const container = document.getElementById("exam-list");
            container.innerHTML = "";

            if (data.length === 0) {
                container.innerText = "Нет экзаменов.";
                return;
            }

            const table = document.createElement("table");
            data.forEach(exam => {
                const row = document.createElement("tr");

                const tdInfo = document.createElement("td");
                tdInfo.innerText = exam.title;
                row.appendChild(tdInfo);

                const tdEdit = document.createElement("td");
                const editBtn = document.createElement("button");
                editBtn.innerText = "Редактировать";
                editBtn.onclick = () => location.href = `/teacher/exams/edit/${exam.id}`;
                tdEdit.appendChild(editBtn);
                row.appendChild(tdEdit);

                const tdEditTasks = document.createElement("td");
                const editTasksBtn = document.createElement("button");
                editTasksBtn.innerText = "Редактировать задания";
                editTasksBtn.onclick = () => location.href = `/teacher/tasks/${exam.id}/edit`;
                tdEditTasks.appendChild(editTasksBtn);
                row.appendChild(tdEditTasks);

                const tdDelete = document.createElement("td");
                const delBtn = document.createElement("button");
                delBtn.innerText = "Удалить";
                delBtn.onclick = () => {
                    fetch(`/api/teacher/exams/${exam.id}`, {
                        method: "DELETE",
                        credentials: "include"
                    }).then(() => loadGroups());
                };
                tdDelete.appendChild(delBtn);
                row.appendChild(tdDelete);

                table.appendChild(row);
            });
            container.appendChild(table);
        });
    }

    loadGroups();
</script>
{% endblock %}
