<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание экзамена</title>
</head>
<body>
    <h2>Создание экзамена</h2>
    <form id="create-exam-form">
        <input name="title" id="exam-title" placeholder="Название экзамена" required>
        <input name="body" id="exam-body" placeholder="Описание экзамена" required>
        <button type="submit">Создать</button>
    </form>

    <script>
        const form = document.getElementById("create-exam-form");

        form.addEventListener("submit", async (event) => {
            event.preventDefault();

            const name = document.getElementById("exam-name").value;
            const token = localStorage.getItem("access_token");

            const response = await fetch("/api/admin/exams/create", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Authorization": "Bearer " + token
                },
                body: JSON.stringify({ name })
            });

            const data = await response.json();

            if (response.ok) {
                alert("Экзамен успешно создана!");
                window.location.href = "/admin/groups";  // редирект на список
            } else {
                alert("Ошибка: " + (data.detail || "не удалось создать экзамен"));
            }
        });
    </script>
</body>
</html>
