<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/css/style.css">
    <meta charset="UTF-8">
    <title>Редактирование группы</title>
</head>
<body>
    <button id="back-button">Назад</button>

    <h2>Редактирование группы</h2>
    <form id="edit-group-form">
        <input name="name" id="group-name" placeholder="Название группы" required>
        <button type="submit">Изменить</button>
    </form>

    <p id="message"></p>

    <script>
        const groupId = {{ group_id }};
        const form = document.getElementById("edit-group-form");
        const nameInput = document.getElementById("group-name");

        // Загрузка текущих данных
        fetch(`/api/admin/groups/${groupId}`, {
            method: "GET",
            credentials: "include"
        })
        .then(res => res.json())
        .then(data => {
            nameInput.value = data.name;
        });

        form.addEventListener("submit", async (e) => {
            e.preventDefault();

            const confirmed = confirm("Вы точно хотите применить изменения?");
            if (!confirmed) return;

            const payload = {
                name: nameInput.value
            };

            const response = await fetch(`/api/admin/groups/${groupId}`, {
                method: "PUT",
                headers: {
                    "Content-Type": "application/json"
                },
                credentials: "include",
                body: JSON.stringify(payload)
            });

            const message = document.getElementById("message");

            if (response.ok) {
                message.innerText = "Изменения сохранены.";
                message.style.color = "green";
            } else {
                const error = await response.json();
                message.innerText = error.detail || "Ошибка при сохранении";
                message.style.color = "red";
            }

            function delay(time) {
              return new Promise(resolve => setTimeout(resolve, time));
            }

            delay(1000).then(() => window.location.href = document.referrer)
        });

        document.getElementById("back-button").addEventListener("click", () => {
            if (document.referrer) {
                window.location.href = document.referrer;
            } else {
                window.location.href = "/admin/groups";  // fallback
            }
        });

    </script>

</body>
</html>
