{% extends "admin/base.html" %}

{% block content %}
<h2>Пользователи</h2>
<button onclick="location.href='/admin/users/create'">Создать нового пользователя</button>
<div id="user-list">Загрузка...</div>

<script>
    const token = localStorage.getItem("access_token");

    function loadUsers() {
        fetch("/api/admin/users", {
            credentials: "include"
        })
        .then(res => res.json())
        .then(data => {
            const container = document.getElementById("user-list");
            container.innerHTML = "";

            if (data.length === 0) {
                container.innerText = "Нет пользователей.";
                return;
            }

            const table = document.createElement("table");
            data.forEach(user => {
                const row = document.createElement("tr");

                const tdInfo = document.createElement("td");
                tdInfo.innerText = user.username + " (" + user.role + ")";

                row.appendChild(tdInfo);

                if (user.role == "student") {
                    tdInfo.InnerText = "Group: " + user.group_id;
                }
                row.appendChild(tdInfo)

                const tdEdit = document.createElement("td");
                const editBtn = document.createElement("button");
                editBtn.innerText = "Редактировать";
                editBtn.onclick = () => location.href = `/admin/users/edit/${user.id}`;
                tdEdit.appendChild(editBtn);
                row.appendChild(tdEdit);

                const tdDelete = document.createElement("td");
                const btn = document.createElement("button");
                btn.innerText = "Удалить";
                btn.onclick = () => {
                    fetch(`/api/admin/users/${user.id}`, {
                        method: "DELETE",
                        headers: {
                            Authorization: "Bearer " + token
                        }
                    }).then(() => loadUsers());
                };
                tdDelete.appendChild(btn);
                row.appendChild(tdDelete);

                table.appendChild(row);
            });
            container.appendChild(table);
        });
    }

    loadUsers();
</script>
{% endblock %}
