{% extends "admin/base.html" %}

{% block content %}
<h2>Предметы</h2>
<button onclick="location.href='/admin/subjects/create'">Создать новый предмет</button>
<div id="subject-list">Загрузка...</div>

<script>
    const token = localStorage.getItem("access_token");

    function loadGroups() {
        fetch("/api/admin/subjects", {
            credentials: "include"
        })
        .then(res => res.json())
        .then(data => {
            const container = document.getElementById("subject-list");
            container.innerHTML = "";

            if (data.length === 0) {
                container.innerText = "Нет предметов.";
                return;
            }

            const table = document.createElement("table");
            data.forEach(subject => {
                const row = document.createElement("tr");

                const tdInfo = document.createElement("td");
                tdInfo.innerText = subject.name;
                row.appendChild(tdInfo);

                const tdEdit = document.createElement("td");
                const editBtn = document.createElement("button");
                editBtn.innerText = "Редактировать";
                editBtn.onclick = () => location.href = `/admin/subjects/edit/${subject.id}`;
                tdEdit.appendChild(editBtn);
                row.appendChild(tdEdit);

                const tdDelete = document.createElement("td");
                const delBtn = document.createElement("button");
                delBtn.innerText = "Удалить";
                delBtn.onclick = () => {
                    fetch(`/api/admin/subjects/${subject.id}`, {
                        method: "DELETE",
                        credentials: "include"
                    }).then(() => loadGroups());
                };
                tdDelete.appendChild(delBtn);
                row.appendChild(tdDelete);

                table.appendChild(row);
            });
            container.appendChild(table);
        });
    }

    loadGroups();
</script>
{% endblock %}
